<h5>Difference between is and == operator </h5>

In [1]:
x=[1,2,3]
y=[1,2,3]
print(x is y)
print(x==y)

False
True

<h5>Remove duplicates of list </h5>

In [2]:
def remove_duplicates(lst):
    seen = set()
    result=[]
    for x in lst:
        if not x in seen:
            seen.add(x)
            result.append(x)
    return result
    # return [x for x in lst if not (x in seen or seen.add(x))]


lst=[3,7,3,9,1,2,1,5,5]
print(remove_duplicates(lst))

[3, 7, 9, 1, 2, 5]

<h5>Q2. Flatten dictionary of lists</h5>

In [3]:
data = {'a': [1, 2], 'b': [3], 'c': [4, 5]}
result=[]
for sublist in data.values():
    for item in sublist:
        result.append(item)
print(result)

[1, 2, 3, 4, 5]

<h5>Self in python </h5>

In [4]:
class Subject:

    def __init__(self, attr1, attr2):
        self.attr1 = attr1
        self.attr2 = attr2


obj = Subject('Maths', 'Science')
print(obj.attr1)  
print(obj.attr2)

Maths
Science

<h6>Learning Dictionary </h6>

In [5]:
keys=[1,2,3]
values=['Anoop','Raj','Ankita']
data=dict(zip(keys,values))
print(data)

{1: 'Anoop', 2: 'Raj', 3: 'Ankita'}

In [6]:
def sum(a,*b): # variable length argument with no keyword
    c=a
    for i in b:
        c+=i
    print(c)

sum(7,13,19,34)

73

In [7]:
def person(name,**data):# variable length with keyword
    print(name)
    print(data)

    for i,j in data.items():
        print(i,j)

person('Anoop',age=26,city='Prayagraj',mob=1234)

Anoop
{'age': 26, 'city': 'Prayagraj', 'mob': 1234}
age 26
city Prayagraj
mob 1234

In [8]:
def even_odd(lst):
    even=0
    odd=0
    for i in lst:
        if(i%2==0):
            even+=1
        else:
            odd+=1
    print(f'count of even: {even}')
    print(f'count of odd: {odd}')


even_odd([1,2,3,4,5,6,7,7,9])

count of even: 3
count of odd: 6

In [9]:
def factorial(n,prod):
    if n==0:
        return prod
    prod*=n
    return factorial(n-1,prod)
    





print(factorial(6,prod=1))

720

In [10]:
f=lambda a,b:a+b

print(f(7,8))

15

In [11]:
nums = [1, 2, 3, 45, 346, 89, 13, 5]
even_list = list(filter(lambda n: n % 2 == 0, nums))
print(even_list)

[2, 346]

In [12]:
doubles=list(map(lambda n:n+2,even_list))
print(doubles)

[4, 348]

In [13]:
from functools import reduce
sum=reduce(lambda a,b:a+b, doubles)
print(sum)

352

In [1]:
nums = [1, 2, 3, 45, 346, 89, 13, 5]
odd_list = list(filter(lambda n: n % 2 != 0, nums))
print(odd_list)

[1, 3, 45, 89, 13, 5]